 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

 *{
    margin: 0px;
    padding: 0px;
    outline: 0px;
 }
 ul,ol{
  list-style: none;
 }
 a,a:hover{
  text-decoration: none;
 }
 img{
  vertical-align: middle;
  border: none;
 }
 h1,h2,h3,h4,h5,h6,a,p,ul,ol,img,li{
  margin: 0px;
  padding: 0px;
 }
 body{
  font-family: 'Lato', sans-serif;
 }

 /* ==========================================================================
   Common CSS End
   ========================================================================== */ 
.header-part .main-menu{
  padding: 31px 0px;
}
.header-part .banner-part{
  padding: 217px 0px 90px;
  background: url("../img/banner.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.banner-part h1{
  font-size: 120px;
  font-weight: 700;
  padding: 0px 92px 0px 94px;
  border-bottom: 2px solid #15a4fa;
  display: inline-block;
}
.banner-part p{
  font-size: 20px;
  line-height: 80px;
}
.banner-part a{
  padding: 20px 35px;
  border: 1px solid #15a4fa;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  transition: all linear .3s;
  margin-top: 27px;
  display: inline-block;

}
.banner-part a:hover{
  background: #15a4fa;
}
.banner-part img{
  margin-top: 180px;
  cursor: pointer;
}
/* ==========================================================================
      Header Part End
   ========================================================================== */ 

.typo{
  background: #f6f9f9;
}
.typo .title{
  padding: 0 248px;
}
.typo .title p{
  font-size: 40px;
  padding: 80px 0 35px;
  color: #2d3950;
}
.typo .info p{
  font-size: 20px;
  color: #999;
  padding-bottom: 110px;
}
/* ==========================================================================
      typo End
   ========================================================================== */

.feature{
  background: #fff;
  padding: 65px 0;
}
.feature .icon{
  background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
  height: 100px;
  width: 100px;
  border-radius: 3px;
  margin: 0 auto;
}
.card-body h5{
  font-size: 22px;
  color: #2d3950;
}
.card-body p{
  font-size: 15px;
  color: #999;
}
/* ==========================================================================
      feature End
   ========================================================================== */

.portfolio{
  padding: 80px 0px 115px;
  background: #f6f9f9;
}
.portfolio .content h3{
  font-size: 41px;
  color: #2d3950;
}
.portfolio .content p{
  font-size: 15px;
  color: #999;
  padding-top: 20px;
  padding-bottom: 80px;
}
.portfolio .content .img-row-2{
  padding-top: 30px;
}
/* ==========================================================================
      portfolio End
   ========================================================================== */

.contact{
  background-image: url(../img/bg.jpg);
  background-position: center;
}
.overlay{
  background: rgba(43,55,75,.9);
}
.contact h3{
  padding-top: 75px;
  font-size: 41px;
  color: #fff;
}
.contact p{
  font-size: 15px;
  color: #999;
  padding-top: 24px;
}
.contact-form{
  padding: 50px 0px 110px;
}
.form-control{
  width: 560px;
  border-color: #999;
  background: transparent;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}
::placeholder{
  color: #999!important;
}
.form-control:focus::placeholder{
  color: #fff!important;
}
.submit{
  width: 560px;
}
.form-check-label{
  color: #fff;
  font-size: 15px;
  margin-top: 25px;
}
.form-check-input{
  margin-top: 30px;
}
.btn-primary{
  background: transparent;
  border-color: #15a4fa;
  padding: 15px 50px;
  transition: all linear .3s;
}
.btn-primary:hover{
  border-color: #15a4fa;
  background: #15a4fa;
}
/* ==========================================================================
      contact End
   ========================================================================== */
.footer{
  background: #f6f9f9;
}
.footer-content{
  padding: 25px 225px 25px 235px;
}
.footer-content p{
  font-size: 15px;
  color: #999;
  margin-top: 13px;
}
ul li{
  width: 40px;
  height: 40px;
  background: #15a4fa;
  margin-right: 5px;
  border-radius: 3px;
}
ul:last-child{
  margin-right: 0;
}
ul li a{
  padding: 15px;
}
.fb-icon,.tw-icon,.g-icon,.li-icon{
 transition: all linear .3s;
}
.fb-icon:hover{
 background: #3b5998;
}
.tw-icon:hover{
 background: #55acee;
}
.g-icon:hover{
 background: #dd4b39;
}
.li-icon:hover{
 background: #0976b4;
}
/* ==========================================================================
      footer End
   ========================================================================== */
