@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Open+Sans:300,400,600i,700|Raleway:300,400,500,600,700');

*{
  margin: 0;
  padding: 0;
  outline: 0;
}
ul,ol{
  list-style: none;
}
a,a:hover{
  text-decoration: none;
}
img{
  vertical-align: middle;
  border: none;
}
h1,h2,h3,h4,h5,h6,a,p,ul,img,li{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Cardo', serif;
  font-family: 'Raleway', sans-serif;
}

 /* ==========================================================================
      Common CSS End
   ========================================================================== */

.header-part{
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.header-part .header-overlay{
  background: rgba(43,46,74, .95);
  padding: 35px 0 160px;
}
.menu li{
  padding-left: 55px;
}
.menu li a{
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}
.header-text{
  padding: 190px 0 75px;
  color: #fff;
}
.header-text h1{
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.header-text p{
  font-size: 22px;
  padding: 40px 0 75px;
}
.button a{
  color: #fff;
  font-weight: 600;
  border: 1px solid #e84545;
  padding: 20px 40px;
  border-radius: 3px;
  transition: all linear .3s;
}
.button a:hover{
  background: #e84545;
  border: 1px solid #e84545;
}
 /* ==========================================================================
      Header-part End
   ========================================================================== */

.feature-part{
  padding: 120px 0;
}
.feature-content{
  padding-bottom: 75px;
}
.feature-content h6{
  padding: 35px 0 25px;
  font-size: 14px;
  font-weight: 700;
  color: #2d3033;
}
.feature-content p{
  font-size: 14px;
  color: #6c7279;
}

 /* ==========================================================================
      Feature-part End
   ========================================================================== */

.work-part{
  padding-bottom: 100px;
}
.work-part img{
  padding-bottom: 1px;
  padding-right: 1px;
}

 /* ==========================================================================
      Work-part End
   ========================================================================== */

.team-part{
  padding-bottom: 100px;
}
.team-part h3{
  padding-top: 30px;
  font-size: 22px;
  color: #2d3033;
}

.team-part h6{
  padding-top: 10px;
  font-size: 13px;
  color: #e84545;
}
.team-part p{
  font-size: 14px;
  color: #6c7279;
  padding: 30px 0;
}
.team-part ul li{
  margin-right: 5px;
  height: 40px;
  width: 40px;
}
.team-part ul li a{
  color: #c6cacc;
  padding: 5px;
  border: 1px solid #c6cacc;
  border-radius: 3px;
  font-size: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
}
.team-part ul .fb a:hover{
  color: #3b5998;
  border: 1px solid #3b5998;
}
.team-part ul .tw a:hover{
  color: #55acee;
  border: 1px solid #55acee;
}
.team-part ul .in a:hover{
  color: #0976b4;
  border: 1px solid #0976b4;
}

 /* ==========================================================================
      Work-part End
   ========================================================================== */

.carousel-item{
  color: #fff;
}
.carousel-item p{
  font-size: 36px;
  font-family: 'Cardo', serif;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 40px;
}
.carousel-item h6{
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 65px;
}
.carousel-item{
  padding: 0 130px 65px 85px;
  background: #53354a;
}
.carousel-indicators{
  bottom: 30px;
}


 /* ==========================================================================
      Client-part End
   ========================================================================== */

.download-part{
  padding: 100px 0;
}
.download-content h2{
  font-size: 28px;
  font-weight: 300;
  color: #2d3033;
}
.download-content h6{
  font-size: 13px;
  font-weight: 700;
  padding: 16px 0 40px;
  color: #2d3033;
}
.download-content a{
  padding: 15px 40px;
  background: #e84545;
  color: #fff;
  border-radius: 3px;
  transition: all linear .3s;
}
.download-content a:hover{
  color: #2d3033;
}

 /* ==========================================================================
      Download-part End
   ========================================================================== */

.footer-content{
  padding: 70px 0 105px;
  background: #3a3e64;
}
.footer-part h6{
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.footer-part p{
  color: #888a9d;
  font-size: 14px;
  padding-top: 22px;
}
.footer-social ul{
  padding-top: 40px;
}
.footer-social ul li{
  margin-right: 5px;
  height: 40px;
  width: 40px;
}
.footer-social ul li a{
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-right{
  background: #313454;
  padding: 25px 0;
  color: #808080;
  font-size: 14px;
}
.copy-right p{
  padding: 0px;
}
.copy-right p i{
  color: #e84545;
}
.copy-right span{
  color: #fff;
}

 /* ==========================================================================
      Footer-part End
   ========================================================================== */
